* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: url('../img/cursor.svg') 15 15, auto; */
}

:root {
    --black: #000000;
    --white: #ffffff;
    --color3: #ff008c;
    --true-black: #000000;
}

@media (max-width: 992px) {
    :root {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    :root {
        font-size: 14px;
    }
}

@font-face {
    font-family: 'PP Mori';
    src: url('../FONT/PPMori-Regular.otf');
}

body {
    font-family: 'PP Mori';
    color: var(--black);
    background-color: var(--white);
}

.row {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.col-sm-6 {
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset:5%;
}

a:hover {
    color: var(--color3);
}


/* HEADER */
header {
    /*position: fixed;*/
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4rem;
    padding-top:0;
    padding-bottom:0;
    padding-left: 2rem;
    padding-right: 2rem;

    background-color: transparent;

    font-size: 1rem;
    text-transform: capitalise;

    z-index: 100;
}

@media (max-width: 992px) {
    header {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    header {
        font-size: 2.5rem;
    }
}


header a {
    text-decoration: none;
}

header svg {
    height: 1.5rem;
    width: auto;
    display: block;
}

header svg:hover path {
    fill: var(--color3);
}

header a:hover {
    color: var(--color3);
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 4rem;
}

@media (max-width: 576px) {
    header nav ul li {
        margin-left: 2rem;
    }
}

/* MAIN */
main {
    margin-top: 5rem;
    min-height: calc(100vh - 8rem);
    min-height: calc((var(--vh, 1vh) * 100) - 8rem);
}

/* HOME */

.home main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .home-image {
    position:absolute;
    Left:0;
    Top:0;
    width: 100%;
    Height: 100%;
    object-fit: cover;
    filter:blur(4px)
}

@media (max-width: 992px) {
    .home .home-image img {
        width: 80vw;
    }
}

@media (max-width: 576px) {
    .home .home-image img {
        width: 90vw;
    }
}



/* PROJECTS */
.projects main {
    padding-top: 1.5rem;
}

.projects .card {
    margin-bottom: 1.5rem;
}


/*
.projects .card-image {
    position: relative;
    padding-bottom: 65%;
    margin-bottom: .5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.projects .card-image:hover .card-image-top {
    opacity: 0;
}

.projects .card-image-top {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .0s;
}*/


.projects .card-title {
    font-size: 1rem;
    margin-bottom: .3rem;
    margin-top: 1rem;
}

.projects .card-description {
    font-size: 1rem;
    color:var(--black);
    margin-bottom: 4rem;
}

.projects .card-title::selection {
    color: var(--white);
    background: var(--color3);
}

.projects .card-description::selection {
    color: var(--white);
    background: var(--color3);
}

/* ARTWORKS */

.projects .artwork-image {
    position: relative;
    padding-bottom: 65%;
    margin-bottom: .5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.artworks .card-title {
    font-size:0.7rem;
    margin-top: 0.5rem;
}

.artworks {
    color:white;
}

/* NEW PROJECTS PAGE */

.projects .first-row {
    margin-top: 5rem;
}

.projects .row a {
    text-decoration:none;
}

.projects .first-row div {
    margin-top: 0rem;
}

.projects .project-item {
    font-size: 6rem;
}

.projects .project-description {
    font-size:1rem;
    
}

.hover-title-2:hover {
    Color: var(--color3);
}

.hover-image-2 {
    visibility: hidden;
}

.hover-title-2 {
    display:inline;
    pointer-events: auto;
    cursor: pointer;
}

body:not(.mobile) .hover-title-2:hover + .hover-image-2 {
    visibility: visible;
    pointer-events: none;
}

.hover-image-2 {
    pointer-events: none;
    filter:blur(7px);
    position: fixed;
    Top:-2%;
    left:-2%;
    z-index: -1;
    width: 104%;
    height:104%;
    object-fit:cover;
}

.hover-image-2 img {
}

/* ABOUT */

.about section {
    padding: 1.5rem 0;
}

.about .about-text {
    font-size:2.1rem;
    line-height:122%;
}

@media(max-width: 992px) {
    .about .about-text {
        font-size: 1.7rem;
    }
}

@media(max-width: 576px) {
    .about .about-text {
        font-size: 1.4 rem;
    }
}

.about .section-title {
    position: sticky;
    top: 6.5rem;
}

.about .section-content {
    line-height: 1.2rem;
}

.about .section-content ul {
    list-style: none;
}

@media(max-width: 992px) {
    .about .section-title {
        margin-bottom: 1rem;
    }
}

.about .section-content .about-link:hover {
    transition: .1s;
    color: var(--white);
    background-color: var(--color3);
}

.about .about-text::selection {
    color: var(--white);
    background: var(--color3);
}

.about .section-title::selection {
    color: var(--white);
    background: var(--color3);
}

.about .section-content::selection {
    color: var(--white);
    background: var(--color3);
}

/* PROJECTS PAGES */
.project {
    font-size: 1rem;
    line-height: 1.5rem;
}

main.project {
    Margin-top:0;
}

.project img {
    width:100%;
}

.project header {
    background-color: transparent;
}

.project header nav ul li {
    color: var(--white);
}

.project .showroom div {
    margin:auto;
}

.project .showroom .row {
    margin-bottom: 3rem;
}

.project .project-image img {
    width: 100%;
    height: auto;
    display: block;
}

.project .project-content {
    margin-top: 0.1rem;
}

.project .project-title {
    color: var(--white);
    line-height: 1.2rem;
}

@media(max-width: 576px) {
    .project .project-title {
        margin-bottom: 1.2rem;
    }
}

.project .project-data {
    Font-size:1.2rem;
    line-height:2.6rem;
    Margin-bottom:8rem;
}

@media (max-width: 992px) {
    .project .project-data {
        font-size:2.1rem;
    }
}

.project .project-data-footer {
    font-size:1rem;
    line-height:122%;
    margin-top:8.5rem;
}

.project .project-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.project .project-gallery img+img {
    margin-top: 1.5rem;
}

.project .project-gallery .video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-top: 1.5rem;
}

.project .project-gallery .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.project .project-title::selection {
    color: var(--white);
    background: var(--color3);
}

.project .project-description {
    margin-bottom:3rem;
    font-size:2.1rem;
    line-height:122%;
    /*line-height:145%;*/
    /*line-height:2.6rem;*/
}

.project .project-description::selection {
    color: var(--white);
    background: var(--color3);
}

@keyframes fadeInAnimation {
    from {
	filter: blur(8px); 
    }
    to {
	filter: blur(0px); 
    }
}

.project .background-image-fadein {
    top:0%;
    Left:0%;
    object-position:center;
    object-fit:cover;
    width:100%;
    height:calc(25vh);
    /*animation: 1s linear forwards fadeInAnimation;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}

@media (min-width: 576px) {
    .project .background-image-fadein {
        height:calc(33vh);
    }
}


@media (min-width: 992px) {
    .project .background-image-fadein {
        height:calc(100vh);
    }
}


/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
    padding: 0 1.5rem;

    font-size: 1.5rem;
    text-transform: capitalize;
}

footer ul {
    display: flex;
    list-style: none;
}


footer .contact::selection {
    color: var(--white);
    background: var(--color3);
}


/*
 * show image on hover
 */
.hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset:5%;
}

.hover-title:hover {
    Color: var(--color3);
}

.hover-image {
    visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
}

.hover-image {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 70vh;
}

.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}

.
